<!DOCTYPE html>
<html lang="en">
<head>
    <title>MMA/UFC Tier List</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&family=Thasadith&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>
<body>
    <div class = title>
        <h2>Tim's</h2>
        <h1>MMA/UFC Tier List</h1>
    </div>

    <form action="/add_fighter" method="post">
        <div class="search">
            <label for="fighter">Add a Fighter</label>
            <input type="text" name="fighter" class="input" placeholder="Search Fighter Name...">
            <button type="submit"><i class="fas fa-plus"></i></button>
        </div>
    </form>

    <div class = list>
        {% for fighter in fighter_list %}
            <p class="stats"> {{fighter.rank}} | {{ fighter.name }} | Record: {{fighter.record}} | Height: {{fighter.height}} | Weight: {{fighter.weight}} | Reach: {{fighter.reach}} | Stance: {{fighter.stance}} | DoB: {{fighter.dob}} | <a href="/remove_fighter/{{ fighter.name }}" class="remove remove1"><i class="fas fa-times"></i></a> </p>
        {% endfor %}
    </div>

</body>
</html>
